<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brotli.NET" version="1.0.19" targetFramework="net462" />
  <package id="Castle.Core" version="4.3.0" targetFramework="net462" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net462" />
  <package id="Faker.Net" version="1.0.3" targetFramework="net45" />
  <package id="Lz4.Net" version="1.0.98" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Noemax.Compression" version="17.301.0" targetFramework="net462" />
  <package id="protobuf-net" version="2.3.12" targetFramework="net462" />
  <package id="SharpSerializer" version="3.0.1" targetFramework="net462" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net462" />
</packages>